@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.header .app-name {
  margin-left: 1em;
}

.header .add-icon {
  margin-left: auto;
}

.contact-list {
  padding: 1em;
}

.contact-list .contact {
  background-color: #eee;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
}
