.header {
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
    .app-name {
      margin-left: 1em;
    }
    
    .add-icon {
      margin-left: auto;
    }
  }